* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: "Space Grotesk", sans-serif;
  }
  
  mark {
    background-color: #eeff00;
  }
  
  a {
    color: black;
  }
  
  /* HEADER  */
  
  .header_hover {
    display: inline-block;
    position: relative;
    color: black;
  }
  
  .header_hover::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .header_hover:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  /* HEADER */
  
  .header {
    background-color: white;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 3;
  
    width: 100%;
    padding: 0 10%;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: white;
  }
  
  .header ul a {
    display: block;
    margin: 20px;
    text-decoration: none;
    /* padding: 20px; */
  }
  
  .header .logo {
    float: left;
    display: block;
    font-size: 2rem;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }
  
  .header .menu-icon {
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
  }
  
  .header .menu-icon .nav-icon {
    background: black;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background 0.2s ease-out;
  }
  
  .header .menu-icon .nav-icon::before {
    background: black;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    top: 5px;
  }
  
  .header .menu-icon .nav-icon::after {
    background: black;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    top: -5px;
  }
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .nav-icon::before {
    transform: rotate(-45deg);
    top: 0;
  }
  
  .header .menu-btn:checked ~ .menu-icon .nav-icon::after {
    transform: rotate(45deg);
    top: 0;
  }
  
  /* HERO */
  .hero__container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 3rem 0; */
  
    height: 100vh;
  
    width: 100%;
  }
  
  .hero__text__img_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 2rem;
    width: 80%;
    /* height: 24rem; */
    /* flex-wrap: wrap; */
  }
  
  .hero__img__container {
    width: 30%;
  }
  
  .hero__avatar {
    /* max-width: 30rem; */
    width: 100%;
  }
  
  .hero__h1 {
    font-size: 3.999rem;
    /* font-size: clamp(  1rem, 3.999rem, 4.666rem); */
  }
  
  .hero__container p {
    font-size: 1.333rem;
  }
  
  /* PROJETOS */
  
  .projects__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
  
  .projects__h1__list__container {
    width: clamp(200px, 80%, 1080px);
    margin: 0 auto;
    /* border: 1px solid red; */
  }
  
  .projects__container h2 {
    align-self: flex-start;
    /* margin-left: 1rem; */
  }
  
  .projects__list {
    margin-top: 1rem;
    margin: 1rem 0;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding: 0.5rem;
    padding-block-end: 1ex;
    justify-content: space-between;
  }
  
  .projects__list li {
    list-style: none;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    min-width: 15rem;
    width: 18rem;
    /* width: 21rem;
    height: 25rem; */
    /* width: clamp(12rem, 15rem, 21rem);
    height: clamp(15rem, 21rem, 25rem); */
    /* margin-left: 2rem; */
    /* inline size clamp(27ch, 33vw, 45ch); */
  }
  
  .li__image__container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 10rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  
  .li__image__container img {
    /* ou 21rem */
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .li__text__container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .li__text__container p {
    height: 5.5rem;
  }
  
  .li__text__container a {
    text-decoration: none;
    font-weight: 700;
    color: black;
  }
  
  /* ABOUT */
  
  .about__container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin: 0 auto;
    gap: 2rem;
    width: 100%;
    background-color: #eeff00;
  
    /* height: 24rem; */
    /* arrumar esse padding */
    /* padding: 0 9rem; */
  }
  
  .about__container h2 {
    margin-bottom: 1rem;
  }
  
  .about__text__container {
    display: flex;
    justify-content: center;
    align-items: start;
    /* flex-direction: column; */
    margin: 0 auto;
    gap: 2rem;
    width: clamp(200px, 80%, 1080px);
    background-color: #eeff00;
    padding: 5rem 0;
  
    flex-wrap: wrap;
    /* justify-content: center;
    align-items: start;
    flex-direction: column; */
    /* width: 80%; */
    /* height: 18rem; */
    /* arrumar esse padding */
  }
  
  .about__text__container div {
    /* background-color: red; */
    /* width: 40%; */
    flex-grow: 1;
  }
  
  .about__list {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
  
  .about__list li {
    list-style: none;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 2rem;
    transition: background-color 0.25s ease-out;
  }
  
  .about__list li:hover {
    background-color: black;
    color: whitesmoke;
  }
  
  /* FOOTER */
  
  footer {
    /* display: flex; */
    /* justify-content: space-between;
    align-items: center; */
    /* flex-direction: column; */
    /* gap: 2rem; */
  
    margin: 0 auto;
    width: 100%;
    background-color: black;
    color: white;
    padding: 2rem;
  }
  
  .footer__text__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 2rem;
    width: clamp(200px, 80%, 1080px);
    /* height: 21rem; */
  }
  
  .footer__text__container a {
    color: white;
    transition: background-color 0.25s ease-out;
    text-decoration: none;
  }
  
  .footer__text__container a:hover {
    color: #eeff00;
  }
  
  .footer__text__container img {
    width: 16px;
  }
  
  .socials {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
  
  /* .wrapper {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  } */
  
  /* adicionar isso apenas para telas grandes */
  
  .wrapper {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }
  
  section {
    scroll-snap-align: start;
    width: 100%;
    height: 100vh;
  }
  
  footer {
    scroll-snap-align: start;
  }
  
  /* MEDIA QUERIES */
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
  
    .header li a {
      margin: 20px 30px;
      /* padding: 20px 30px; */
    }
  
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
  
    .header .menu-icon {
      display: none;
    }
  }
  
  /* @media screen and (max-width: 415px) {
  
  } */
  
  @media screen and (max-width: 543px) {
    .header .logo {
      font-size: 1.166rem;
      padding: 15px 20px;
    }
  
    .hero__h1 {
      font-size: 2.333rem;
    }
  
    .hero__container p {
      font-size: 0.916rem;
    }
  
    .hero__container {
      padding-top: 4.5rem;
      height: auto;
      margin-bottom: 2rem;
    }
  
    .hero__text__img_container {
      gap: 0.5rem;
      flex-wrap: wrap;
      flex-direction: column-reverse;
      justify-content: start;
      align-items: start;
    }
  
    .hero__img__container {
      max-width: 303px;
      min-width: 120px;
    }
  
    /* .projects__container {
      margin-top: 0;
    }
  
    .about__text__container {
      padding: 2rem 0;
    } */
  
    .projects__container {
      margin-top: 1rem;
      height: auto;
    }
  
    .about__container {
      margin-top: 1rem;
      height: auto;
    }
  
    .wrapper {
      width: 100%;
      height: 100vh;
      overflow-y: none;
      scroll-snap-type: none;
    }
  
    section {
      scroll-snap-align: none;
      width: 100%;
      height: 100vh;
    }
  
    .socials a {
      font-size: 0.75rem;
    }
  }
  
  @media screen and (min-width: 543px) and (max-width: 767px) {
    .header .logo {
      font-size: 1.166rem;
      padding: 15px 20px;
    }
  
    .hero__h1 {
      font-size: 2.333rem;
    }
  
    .hero__container p {
      font-size: 0.916rem;
    }
  
    .hero__container {
      padding-top: 3rem;
      height: 18rem;
      /* border: 1px solid blue; */
    }
  
    .hero__img__container {
      max-width: 303px;
      min-width: 120px;
    }
  
    .projects__container {
      margin-top: 1rem;
      height: auto;
    }
  
    .about__container {
      margin-top: 1rem;
      height: auto;
    }
  
    .wrapper {
      width: 100%;
      height: 100vh;
      overflow-y: none;
      scroll-snap-type: none;
    }
  
    section {
      scroll-snap-align: none;
      width: 100%;
      height: 100vh;
    }
  
    .socials a {
      font-size: 0.916rem;
    }
  }
  
  /* 40 em */
  @media screen and (min-width: 767px) and (max-width: 1280px) {
    .hero__h1 {
      font-size: 2.999rem;
    }
  
    .hero__container {
      height: 25rem;
      padding-top: 5%;
    }
  
    .hero__text__img_container {
      gap: 0.5rem;
      justify-content: space-around;
    }
  
    .hero__img__container {
      max-width: 303px;
      min-width: 120px;
    }
  
    .projects__container {
      margin-top: 1rem;
      height: auto;
    }
  
    .about__container {
      margin-top: 1rem;
      height: auto;
    }
  
    .wrapper {
      width: 100%;
      height: 100vh;
      overflow-y: none;
      scroll-snap-type: none;
    }
  
    section {
      scroll-snap-align: none;
      width: 100%;
      height: 100vh;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .hero__h1 {
      font-size: 4.666rem;
    }
  }
  
  @media screen and (max-width: 48em) {
    footer {
      padding: 2rem 0;
    }
  
    .footer__text__container {
      /* flex-direction: column; */
      gap: 1rem;
    }
  
    .about__text__container {
      font-size: 0.916rem;
    }
  
    .about__list li {
      padding: 0.750rem;
      font-size: 0.750rem;
    }
  }
  
  /* OUTROS */
  
  /* retirar */
  
  /* .nav-collapse {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }
  
  .icon {
    display: none;
  } */
  